# Ignore all files in data directory by default
data/*

# But allow these specific files and directories
!data/external/
!data/raw/
!data/processed/
!data/raw/nashik/
!data/raw/pune/
!data/raw/cities_demographic_data.geojson
!data/processed/combined_analysis_results.json
!data/processed/combined_lst_metadata.csv
!data/processed/nashik_analysis_results.json
!data/processed/pune_analysis_results.json

# Also allow all files within these directories
!data/external/*
!data/raw/nashik/*
!data/raw/pune/*
